# Removed sensitive files and directoroies
certs/
.vscode/
test_directory/a
test_directory/b
server/src/__pycache__/config_management.cpython-311.pyc
agent/src/__pycache__/communication.cpython-311.pyc
agent/src/__pycache__/file_monitor.cpython-311.pyc
server/src/__pycache__/compliance_management.cpython-311.pyc
server/src/__pycache__/fim_logs.cpython-311.pyc
server/src/__pycache__/main.cpython-311.pyc
shared/__pycache__/__init__.cpython-311.pyc
shared/__pycache__/constants.cpython-311.pyc
test_directory/new
shared/logs/alert.log
shared/logs/audit.log
shared/logs/fim.log
alert_logs.log
audit_logs.log
shared/fim.log
